[submodule "submodules/bootstrap"]
	path = vendor/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "server/src/github.com/kr/pretty"]
	path = server/src/github.com/kr/pretty
	url = https://github.com/kr/pretty
