{{ define "jsdefs" }}
<script src="static/js/vendor/vue/vue.js"></script>
<script src="static/js/vendor/jquery/jquery.min.js"></script>
<script src="static/js/vendor/bootstrap/bootstrap.bundle.min.js"></script>

<script src="static/js/apps/roundcounter.js"></script>
<script src="static/js/apps/gameheader.js"></script>
<script src="static/js/apps/pagelistener.js"></script>
<script src="static/js/apps/owari.js"></script>
<script src="static/js/apps/alert.js"></script>
<script src="static/js/apps/auth.js"></script>
<script src="static/js/apps/question.js"></script>
<script src="static/js/apps/playerlist.js"></script>
<script src="static/js/apps/player.js"></script>
<script src="static/js/apps/hostplayer.js"></script>
<script src="static/js/apps/progressbar.js"></script>
<script src="static/js/apps/gameboard.js"></script>
{{ end }}